{% extends 'base.html.twig' %}
{% block title %}Qui suis-je ? | {{ parent() }}{% endblock %}
{% block Titre %}Qui suis-je ?{% endblock %}

{% block content %}
    <div class="container my-5">
        <section class="row mt-4">
            <header class="col-12">
                <h2 class="text-center col-12 my-4">{{author.name}}</h2>
            </header>
            <div class="row col-12 mx-auto">
                <div class="mb-3 mx-auto offset-1 col-10 col-md-6 col-xl-4 col-lg-6 text-center">
                    <img class="mw-200 w-100" src="{{ asset('uploads/cover_img/'~author.img.url) }}" alt="Salomé assise se tenant les mains">
                </div>
                <div class="col-12 col-xl-8 col-lg-6 text-justify">
                    {{ author.content | raw }}
                    <p><a href="{{ path('blogArticle', { 'slug': 'sans-fard' }) }}">Lire mon article "SANS FARD"</a></p>
                </div>

            </div>
        </section>
    </div>
{% endblock %}