{% extends 'base.html.twig' %}

{% block title %}Ma magie en ligne | {{ parent() }}{% endblock %}

{% block Titre %}Ma magie en ligne{% endblock %}


{% block headScript %}
    <link href="https://vjs.zencdn.net/7.6.6/video-js.css" rel="stylesheet" />
    <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
{% endblock %}
{% block content %}
    <div class="container py-5">
        <p><a href="{{ path('app_account') }}"><< Revenir à mon compte</a></p>
        <div class="row list justify-content-around">
            {% if 'rituals' in contents|keys %}
                <div class="col-12 my-3">
                    <h2 class="text-center"><strong>Mes rituels</strong></h2>
                </div>
                {% for content in contents.rituals %}
                    {{ include('security/_video_render.html.twig', {'content': content}) }}
                {% endfor %}
            {% endif %}
           {% if 'yogas' in contents|keys %}
            <div class="col-12 my-3">
                <h2 class="text-center"><strong>Mes séances de yoga</strong></h2>
            </div>
                {% for content in contents.yogas %}
                    {{ include('security/_video_render.html.twig', {'content': content}) }}
                {% endfor %}
            {% endif %}
            {% if 'videos'  in contents|keys %}
                <div class="col-12 my-3">
                    <h2 class="text-center"><strong>Mes vidéos</strong></h2>
                </div>
                {% for content in contents.videos %}
                     {{ include('security/_video_render.html.twig', {'content': content}) }}
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="https://vjs.zencdn.net/7.6.6/video.js"></script>
{% endblock %}
