{% extends 'base.html.twig' %}

{% block title %}Mes commandes | {{ parent() }}{% endblock %}

{% block Titre %}Historique des commandes{% endblock %}

{% block content %}
    <div class="container py-5">
        <p class="mb-4"><a href="{{ path('app_account') }}"><< Revenir à mon compte</a></p>
        {% if purchases is empty %}
            <em>Vous n'avez pas encore passé de commande</em>
        {% else %}
            <div class="accordion" id="accordionExample">
                {% for purchase in purchases %}
                    <div class="card">
                        <div class="card-header" style="cursor: pointer;" id="headingOne" data-toggle="collapse" data-target="{{ '#collapse'~loop.index }}" aria-expanded="true" aria-controls="{{ 'collapse'~loop.index }}">
                            <p class="mb-0">
                                Commande du {{ purchase.purchase.createdAt | date ('d/m/Y') }} - {{ purchase.purchase.amount | replace({".00" : ""}) }} €

                                {% if  purchase.purchase.createdAt | date('Y/m/d') >= date('2021/07/31') | date('Y/m/d') %}
                                    <br><small>Dont TVA (20%) : {{ getTVA(purchase.purchase.amount) }}€</small>
                                {% endif %}
                            </p>
                        </div>

                        <div id="{{ 'collapse'~loop.index }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body row justify-content-between">
                                <ul>
                                    {%  for content in purchase.contents %}
                                        <li class="mb-3">
                                            {% if content.path != 'yogaOnline' %}
                                               {{ content.entity.title }}
                                            {% else %}
                                                {{ content.entity.title }}
                                            {% endif %}

                                            <br/>
                                            {% if content.entity.ref is defined %}
                                                <small><em>{{ content.entity.ref }}</em></small> <br/>
                                            {% endif %}
                                            Prix : {{ content.price | replace({".00" : ""}) }}€<br/>
                                        </li>
                                    {% endfor %}
                                </ul>
                                <div>
                                    <a  href="{{path('app_invoice', { 'path':  'Facture_WEB'~ purchase.purchase.createdAt | date('Y')~'_'~purchase.purchase.id~'.pdf', 'id': purchase.purchase.id})}}">Télécharger ma facture</a>
                                </div>
                            </div>
                        </div>

                    </div>

                {% endfor %}
            </div>
        {% endif %}
        <p class="text-center mt-3"><strong>Retrouvez toute votre magie en ligne <a href="{{ path('app_account_online_content') }}">ici</a></strong></p>
    </div>

{% endblock %}
