{% extends 'base.html.twig' %}
{% block title %}Yoga | {{ parent() }}{% endblock %}
{% block metaDescription %}Chamade offre des cours individuels et collectifs de Yoga Vinyasa, dans une démarche holistique destinée à permettre l’équilibre de vos corps physiques et énergétiques. {% endblock %}
{% block ogImage %}{{ app.request.getSchemeAndHttpHost ~ asset('build/images/design_yoga.jpeg') | replace({'/build':'build'}) }}{% endblock %}


{% block Titre %}Yoga{% endblock %}
{% block content %}
    <div class="container my-5">
        <section class="row mt-4 mb-3 text-center" >
            <h2 class="col-12 text-center">Revenir au corps, à l&#39;écoute de ses messages et enseignements. Permettre par le
                mouvement la circulation des énergies, l&#39;acceptation et l&#39;expression des émotions.</h2>
        </section>
        <div class="row mt-5 mb-3 align-items-center">
                    <div class="mb-3 offset-1 col-10 offset-md-3 offset-lg-0 col-md-6 col-xl-4 col-lg-6 text-center mb-lg-0">
                        <img class="mw-200 w-100" src="{{ asset('build/images/salome_assise.jpeg') }}" alt="Salomé assise se tenant les mains">
                    </div>
                    <div class="col-12 col-xl-8 col-lg-6 text-justify">
                        <p>J’ai découvert le yoga en 2016 et depuis ma pratique n’a cessé d’évoluer et de se peaufiner.</p>
                        <p>Certifiée en Yoga Vinyasa auprès de l'école Kula Collective (YTT 200H), ma démarche est profondément holistique.
                            Le yoga est à mon sens une voie privilégiée de connaissance de soi et d'harmonie intérieure.
                        </p>
                        <p>C'est ainsi que je propose et anime des ateliers de yoga dans le cadre de mes évènements,
                            ainsi que des cours et interventions, alliant Yoga, Méditation et développement personnel et spirituel.
                        </p>
                        <p>Je pratique un Yoga holistique, qui considère l’individu dans sa globalité, dans sa dimension
                            humaine sacrée, bien au-delà des postures et enchaînements parfaits vus sur les réseaux
                            sociaux.
                        </p>
                        <p><em>« L’approche holistique du yoga signifie qu’en tant que professeurs qui incarnent l&#39;ensemble
                                des traditions yogiques, nous reconnaissons que nous enseignons dans nos cours bien plus
                                que des asanas. L&#39;utilisation du mot akhanda, similaire au mot yoga en sanskrit, signifie que
                                nous conservons une tradition indivisible, entière et ininterrompue, qui représente notre
                                compréhension de la nature unie du monde, ainsi que l&#39;importance de faciliter des
                                expériences de yoga holistique pour nos étudiants. Akhanda est le premier mot d&#39;un mantra
                                védique inspirant - Akhanda Mandala Karam - le cosmos et l&#39;univers sont une seule et même
                                entité, et sont indivisibles. »</em>
                        </p>
                        <p class="text-right">Extrait de la Formation KULA COLLECTIVE.</p>

                    </div>
                </div>
                    <section class="row mt-4">
                        <h3 class="col-12"><strong>Infos pratiques :</strong></h3>
                        {% if yoga %}
                                <div class="text-justify col-12 col-lg-6">
                                    <h4><strong>Cours de Yoga à UPSIDE POLE STUDIO à Cranves-Sales</strong></h4>
                                    <ul>
                                        {% for ritual in yoga %}
                                            {% if ritual.address.id == 59 %}
                                                <li>
                                                    {{ritual.startDate | localizeddate('none', 'none', null, null, 'EEEE d MMMM YYYY') | capitalize}} : {{ ritual.title }}<br/>
                                                    <a href="{{ path('yogaEvent', { 'slug': ritual.slug }) }}">En savoir plus</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            <div class="text-justify col-12 col-lg-6">
                                <h4><strong>Cours de Yoga à MPOLE STUDIO à Thiez</strong></h4>
                                <ul>
                                    {% for ritual in yoga %}
                                        {% if ritual.address.id == 60 %}
                                        <li>
                                            {{ritual.startDate | localizeddate('none', 'none', null, null, 'EEEE d MMMM YYYY') | capitalize}} : {{ ritual.title }}<br/>
                                            <a href="{{ path('yogaEvent', { 'slug': ritual.slug }) }}">En savoir plus</a>
                                        </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}

                    </section>
                    <section class="row my-5 box_infos background-green text-center p-3 mx-2 mx-sm-0">
                        <div class="col-12 mt-2">
                            <h4><strong>Inscriptions</strong></h4>
                            <p>Vous pouvez vous inscrire en cliquant sur le lien "En savoir plus" à coté de de chaque séance.</p>
                            <p>Pour celles et ceux qui ne peuvent pas se déplacer, les rituels sont également proposés à
                                l’achat en version en ligne, à la rubrique <a href="{{ path('yogasOnline') }}">&quot;YOGA EN LIGNE&quot;</a>.</p>
                        </div>
                    </section>
                    <p>Je propose des cours privés à domicile ou en studio sur demande. Le tarif de ceux-ci varie
                        suivant le nombre de participants et le cadre de l’intervention.
                    </p>
                    <p>Contactez-moi pour plus d’informations et réserver votre séance à <a href="{{ path('mailTo', {'name': 'hello', 'domain':'chamade.co'}) }}">hel<!--triugtb65-->lo@cha<!--t5588h^ùm^th-->made.co</a>.</p>
    </div>
    <div class="container-fluid py-5 background-dark-green text-white">
        <div class="container">
            <div class="row">
                <div class="col-12 text-justify">
                    <p><em>« La plupart d’entre-nous avons l’habitude de chercher dans les éléments extérieurs afin de
                            nous réaliser. Nous vivons dans un monde qui nous conditionne à croire que les réalisations
                            extérieures peuvent nous combler et nous apporter ce que nous souhaitons à l’intérieur.
                            Pourtant, nos expériences nous montrent que rien de ce qui est extérieur ne peut satisfaire
                            complètement le désir profond de se réaliser et d’approfondir ce &quot;quelque chose de plus&quot; qui
                            est en nous. Malgré cela, la plupart du temps, nous nous efforçons constamment à atteindre
                            ce qui semble toujours hors de notre portée. Nous sommes pris dans le faire plutôt que dans
                            l&#39;être, dans l&#39;action plutôt que dans le ressenti. »
                            « Cette science ancienne et spirituelle offre un moyen direct d&#39;apaiser les turbulences
                            naturelles du mental et l&#39;agitation constante du corps qui nous empêchent de savoir qui nous
                            sommes réellement. Il est difficile pour nous d’imaginer un état de calme et de repos complet
                            où toutes nos pensées et nos sentiments cesseraient de danser perpétuellement en
                            mouvement. Pourtant, c&#39;est grâce à un tel état de quiétude que nous pouvons atteindre un
                            niveau de joie et de compréhension qui souvent sont impossibles à atteindre autrement.
                            D&#39;ordinaire, notre conscience et nos énergies sont dirigées vers l&#39;extérieur, vers les choses de
                            ce monde, que nous percevons à travers les capacitées limitées de nos cinq sens. Parce que la
                            raison humaine doit s&#39;appuyer sur les données partielles et souvent trompeuses fournies par
                            les sens physiques, nous devons apprendre à exploiter des niveaux de conscience plus
                            profonds et plus subtils si nous voulons résoudre certaines questions fondamentales telles
                            que :</em>
                    </p>
                    <p class="text-center">
                        <em>
                            Qui suis-je ?<br/>
                            Pourquoi suis-je ici ?<br/>
                            Comment réaliser ma Vérité ou incarner ma mission de vie ?
                        </em>
                    </p>
                    <p><em>Le yoga est un processus simple qui consiste à inverser le flux ordinaire d&#39;énergie et de
                            conscience vers l&#39;extérieur, de sorte que le mental devient un centre dynamique de
                            perception directe, ne dépendant plus des sens faillibles mais capable de faire réellement
                            l&#39;expérience de la vérité. Grâce à la pratique du yoga, nous apprenons à connaître notre unité
                            avec l&#39;intelligence, la puissance et la joie infinie qui donnent la vie à tous les êtres et qui sont
                            aussi l&#39;essence de notre propre Être. »</em>
                    </p>
                    <p class="text-right">Extrait de la Formation KULA COLLECTIVE.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

