{% extends 'base.html.twig' %}

{% block title %}Magie en ligne | {{ parent() }}{% endblock %}
{% block metaDescription %}Chamade propose des Rituels, Ateliers, E-books & Programmes accessibles en ligne et destinés à vous accompagner dans votre développement personnel et spirituel.{% endblock %}
{% block ogImage %}{{ app.request.getSchemeAndHttpHost ~ asset('build/images/design_magie.jpeg') }}{% endblock %}

{% block Titre %}Magie en ligne{% endblock %}
{% block content %}
{# PRESENTATION #}
<div class="container mb-4 mt-4">
        <section class="row align-items-center">
            <div class="col-12 text-justify">
                <h2 class="col-12 text-center mb-3">Partager, échanger, faire circuler les savoirs et les outils permettant une meilleure
                    connaissance de soi.</h2>
                <p>Vous trouverez sur ce site et sur les réseaux sociaux de Chamade de nombreux contenus
                gratuits, sous la forme de publications, d&#39;articles et de vidéos. Parce qu&#39;il est essentiel de
                    rendre le développement personnel et spirituel accessible au plus grand nombre.</p>
                <p>Je vous proposerai très bientôt aussi des ebooks, rituels et ateliers en ligne, créés par mes
                    soins ou avec d&#39;autres entrepreneures holistiques.</p>
                <p>Ces contenus seront autant de rendez-vous avec vous-même, auxquels vous pouvez accéder
                    suivant le moment de votre choix et autant de fois qu&#39;ils peuvent vous être utiles.</p>
            </div>
        </section>
</div>
    {# END PRESENTATION #}

    {# NEWSLETTER #}
    <div class="container-fluid social py-5 background-green">
        <div class="container">
            <div class="row">
                <h2 class="cursive text-center col-12">Rejoins la communauté Chamade et reçois ta méditation gratuite! </h2>
                <p class="cursive text-center col-12">Chaque mois je vous prépare un courriel plein d'amour et de bienveillance avec les actualités de Chamade (en avant-première!) mais aussi une météo énergétique et astrologique.</p>
                <form action="{{ path('registerNewsletter') }}" method="post" class="form-inline col-md-12 justify-content-center">
                    <div class="row col-md-6">
                        <div class="form-group col-md-8">
                            <label class="d-none" for="email">Adresse e-mail</label>
                            <input  required="required" class="form-control w-100" type="email" name="email" id="email">
                        </div>
                        <div class="form-group col-12 col-md-4 text-center mt-sm-2 mt-lg-0 ">
                            <button type="submit" name="subscribe" id="subscribe" class="mw-100 btn btn-primary m-auto m-lg-0">M'abonner</button>
                        </div>
                    </div>
                    <div class="form-check col-md-12 mt-3">
                        <input class="form-check-input" required="required" name="check1" type="checkbox" value="" id="check1">
                        <label class="form-check-label" for="check1">
                            Vous acceptez de recevoir nos derniers articles de blog par e-mail.
                        </label>
                    </div>
                    <div class="form-check col-md-12">
                        <input class="form-check-input" required="required" type="checkbox" name="check2" value="" id="check2">
                        <label class="form-check-label" for="check2">
                            Vous acceptez de recevoir nos prochains évènements par e-mail.
                        </label>
                    </div>
                    <div class="col-md-12">
                        <p class="text-center mt-3">
                            <small>Vous affirmez avoir pris connaissance de notre
                                <a href="{{ path('privacyPolicy') }}">politique de confidentialité</a>. Vous pouvez à tout moment vous désinscrire à l'aide des liens de désinscription ou en nous contactant à
                                <a href="{{ path('mailTo', {'name': 'hello', 'domain':'chamade.co'}) }}">hel<!--triugtb65-->lo@cha<!--t5588h^ùm^th-->made.co
                                </a>.
                            </small>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {# END NEWSLETTER #}

    {# FACEBOOK LOUVES #}
    <div class="container-fluid">
        <div class="container py-5 text-center">
            <a class="row justify-content-center" href="https://bit.ly/2BCWpoi">
                <img class="col-12 col-md-9 mw-100 scale-down" src="{{ asset('build/images/louves.png')}}" alt="LOUVES ! La communauté de chamade Développement personnel et spirituel Sonorité Pour une vie sereine, équilibrée et harmonieuse"/>
            </a>
        </div>
    </div>
    {# END FACEBOOK LOUVES #}

    {# QUICK MENU #}
    <div class="container-fluid py-3 background-dark-green">
        <div class="container">
            <div class="row justify-content-around flex-wrap py-3">
                <div class="mb-4 mb-sm-0 col-12 col-sm-4">
                    <a class="text-center" href="{{ path('ritualsOnline') }}">
                        <figure class="object-fit-cover m-0">
                            <img class="mw-200 w-100 h-100" src="{{ asset('build/images/design_rituels.jpeg') }}" alt="">
                        </figure>
                    </a>
                </div>
                <div class="mb-4 mb-sm-0 col-12 col-sm-4">
                    <a class="text-center" href="{{ path('eBooksOnline') }}">
                        <figure class="object-fit-cover m-0">
                            <img class="mw-200 w-100 h-100" src="{{ asset('build/images/design_ebooks.jpeg') }}" alt="">
                        </figure>
                    </a>
                </div>
                <div class="mb-4 mb-sm-0 col-12 col-sm-4">
                    <a class="text-center" href="{{ path('videosOnline') }}">
                        <figure class="object-fit-cover m-0">
                            <img class="mw-200 w-100 h-100" src="{{ asset('build/images/design_videos.jpeg') }}" alt="">
                        </figure>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {# END QUICK MENU #}


{% endblock %}