{% extends 'admin/base.html.twig' %}

{% block content %}
<h1>Auteurs</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="{{ path('homeAdmin') }}">Tableau de bord</a></li>
    <li class="breadcrumb-item active">Auteurs</li>
</ol>
<div class="d-flex mb-3">
    <button onclick="location.href='{{path('createAuthorAdmin')}}';" class="btn btn-primary ml-auto">Créer un nouvel auteur</button>
</div>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Liste des auteurs
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Image</th>
                    <th>Date de création</th>
                    <th>Date de mise à jour</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Image</th>
                    <th>Date de création</th>
                    <th>Date de mise à jour</th>
                    <th>Actions</th>
                </tr>
                </tfoot>
                <tbody>
                {% for author in authors %}
                    <tr>
                        <td>{{ author.name }}</td>
                        <td>{{ author.content  | truncate(75, true) | raw}}</td>
                        <td>
                            {% if author.img %}
                                <img style="max-width:150px" src="{{ asset('uploads/cover_img/'~ author.img.url) }}"/>
                            {% endif %}
                        </td>
                        <td data-sort="{{author.createdAt |date("Y/m/d")}}">{{author.createdAt | localizeddate('none', 'none', null, null, 'd MMMM Y')}}</td>
                        <td data-sort="{{author.updatedAt |date("Y/m/d")}}">{{author.updatedAt | localizeddate('none', 'none', null, null, 'd MMMM Y')}}</td>
                        <td>
                            <a href="{{ path('updateAuthorAdmin', {'id':author.id}) }}" class="text-primary mr-2" title="Editer"><i class="far fa-edit"></i></a>
                            {% if author.id != 4 %}
                            <p data-title="{{ author.name }}" data-id="{{ author.id }}" data-toggle="modal" data-target="#deleteModal" class="text-danger" title="Supprimer"><i class="far fa-trash-alt"></i></p>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {{ include('_modal.html.twig', {
            'question': "Etes-vous sûr de vouloir supprimer l'auteur",
            "actionPath": "deleteAuthorAdmin",
            "btnValue": "Supprimer"
        }) }}
    </div>
{% endblock %}
