{% extends 'admin/base.html.twig' %}

{% block content %}
    <h1>Modifier une certifiée {{ program.title }}</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="{{ path('homeAdmin') }}">Tableau de bord</a></li>
        <li class="breadcrumb-item"><a href="{{ path('homeAdmin') }}">Programmes et formations</a></li>
        <li class="breadcrumb-item"><a href="{{ path('certifiedProgramAdmin', {'id':program.id}) }}">Liste des certifiées de {{ program.title }}</a></li>
        <li class="breadcrumb-item active">Modifier une certifiée {{ program.title }}</li>
    </ol>
    {% include 'admin/programs/_form_certified.html.twig' %}
{% endblock %}