<footer>
    <div class="container-fluid social p-0">
        {# NEWSLETTER #}

        <section class="container-fluid background-white">
            <div class="container pt-5" id="home_title">
                <div class="row justify-content-center align-items-center position-relative mt-4">
                    <img class="col-12 col-md-10 col-lg-8 col-xl-6"
                         src="{{ asset('build/images/motifs/demisphere_orange.png') }}" alt="">
                    <img id="black_wave" class="col-12" src="{{ asset('build/images/motifs/vague_noire.png') }}" alt="">
                    <h2 class="text-center col-8 col-md-7 col-lg-5 col-xl-4">Rejoins l’infolettre Comètes !</h2>
                </div>
                <div class="row pt-5 px-md-5 px-xl-0">
                    <p class="cursive text-center col-12">Reçois chaque mois des nouvelles des étoiles, pour tout savoir de ce que te réserve le ciel.<br/>
                        Tu auras en bonus les actualités de Comètes en avant-première !
                    </p>
                    <form action="{{ path('registerNewsletter') }}" method="post"
                          class="form-inline col-md-12 justify-content-center">
                        <div class="row">
                            <div class="form-group col-md-8">
                                <label class="d-none" for="email">Adresse e-mail</label>
                                <input required="required" class="form-control w-100" type="email" name="email"
                                       id="email">
                            </div>
                            <div class="form-group col-12 col-md-4 text-center mt-sm-2 mt-lg-0 ">
                                <button type="submit" name="subscribe" id="subscribe"
                                        class="mw-100 btn btn-primary m-auto m-lg-0">M'abonner
                                </button>
                            </div>
                        </div>
                        <div class="form-check col-md-12 mt-3">
                            <input class="form-check-input" required="required" name="check1" type="checkbox" value=""
                                   id="check1">
                            <label class="form-check-label" for="check1">
                                Vous acceptez de recevoir nos derniers articles de blog par e-mail.
                            </label>
                        </div>
                        <div class="form-check col-md-12">
                            <input class="form-check-input" required="required" type="checkbox" name="check2" value=""
                                   id="check2">
                            <label class="form-check-label" for="check2">
                                Vous acceptez de recevoir nos prochains évènements par e-mail.
                            </label>
                        </div>
                        <div class="col-md-12">
                            <p class="text-center mt-3">
                                <small>Vous affirmez avoir pris connaissance de notre
                                    <a href="{{ path('privacyPolicy') }}">politique de confidentialité</a>. Vous pouvez
                                    à
                                    tout moment vous désinscrire à l'aide des liens de désinscription ou en nous
                                    contactant
                                    à
                                    <a href="{{ path('mailTo', {'name': 'hello', 'domain':'cometes.co'}) }}">hel<!--triugtb65-->lo@co<!--t5588h^ùm^th-->metes.co</a>.
                                </small>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        {# END NEWSLETTER #}

        {# INSTAGRAM FEED #}
        {% if opinions.getLastInstagramPost(5) %}
            <div class="container-fluid py-5 background-orange">
                <div class="container">
                    <div class="row justify-content-around justify-content-lg-start mx-auto">
                        <h2 class="text-center col-12 mb-3 text-white">Suivez nous sur instagram :</h2>
                        {% for post in opinions.getLastInstagramPost() |slice(0, 5) %}

                            <!-- Grid column -->
                            <div class="mb-3 col-8 col-sm-4 col-lg-2 text-center
                {% if loop.index == 1 %}
                    offset-lg-1
                {% endif %}
                    ">
                                <a href="{{ post.permalink }}">
                                    <img class="object-fit-cover instagram" src="{{ post.media_url }}"
                                         alt="Photo provenant d'instagram">
                                </a>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        {% endif %}
        {# END INSTAGRAM FEED #}
</footer>
