{% extends 'base.html.twig' %}

{% block title %}Contact | {{ parent() }}{% endblock %}
{% block Titre %}Contact{% endblock %}

{% block content %}
        <div class="container my-5">
            <div class="row mb-4">
                <!-- Section Titile -->
                <div class="col-md-12">
                    <h2 class="section-title text-center">Nous sommes toujours ravies de pouvoir échanger avec vous, que ce soit pour une question, un
                        partage ou encore un avis.</h2>
                </div>
            </div>
            <div class="row justify-content-between">
                <!-- Section Titile -->
                <div class="flex-43 mt-4 contact-widget-section2 text-justify col-12" >
                    <p>N'hésitez pas à nous contacter via le présent formulaire et nous vous répondrons dans les meilleurs délais possibles. En attendant, rejoignez-nous sur les réseaux sociaux !</p>
                    <p>Pour les collaborations et service client, merci de nous écrire à l'adresse  <a href="{{ path('mailTo', {'name': 'hello', 'domain':'cometes.co'}) }}">hel<!--triugtb65-->lo@co<!--t5588h^ùm^th-->metes.co</a>.</p>
                    <p>Pour toute difficulté d’ordre technique quant à l’utilisation du site web, merci de contacter Jane de Digistos à l’adresse [A compléter].</p>
                </div>
                <!-- contact form -->
                <div class="col-md-6" >
                    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
{% endblock %}
