{% extends 'base.html.twig' %}

{% block content %}
    {# PHOTOS CAROUSEL #}
    <header class="container-fluid p-0">
        <div id="carouselExampleControls" class="carousel home slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="overlay"></div>
                    <img class="d-block w-100 h-100" src="{{ asset('build/images/photo-main.jpeg') }}" alt="Photo d'une main avec des dessins en peinture">
                    <div class="carousel-caption m-auto d-flex flex-column align-items-center justify-content-center w-80 text-center"></div>
                </div>
                <div class="carousel-item">
                    <div class="overlay"></div>
                    <img class="d-block w-100 h-100" src="{{ asset('build/images/fleur-main.jpeg') }}" alt="Photo d'une main tenant un tournesol">
                    <div class="carousel-caption m-auto d-flex flex-column align-items-center justify-content-center w-80 text-center"></div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </header>
    {# END PHOTOS CAROUSEL #}

    {# VOUS ACCOMPAGNER... #}
    <section class="container mt-100">
        <div class="col-12 text-center">
            <h2>- Expériences d’éveil à soi -
                <br/>
            </h2>
            <p>Tu ressens le besoin de te laisser de l’espace et d’honorer tes besoins. <br>

                De prendre une pause et une profonde inspiration.<br><br>

                Tu ressens le besoin de retrouver le chemin de ta vérité, de ta magie et de tes dons.<br>

                De ramener du sens et de la conscience dans ton incarnation.<br><br>
                Tu ressens le besoin de ramener de la joie et de stimuler ta créativité.<br>
                De te réinventer et de retrouver ton cœur d’enfant.<br><br>
                Tu es exactement au bon endroit et je te souhaite la bienvenue.<br><br>

                <em>Il est temps de prendre soin de toi.</em></p>
        </div>
    </section>
    <section class="container pt-3 pb-5">
        <div class="row text-center justify-content-around">
            <div class="col-12 col-md-3 my-3 ">
                <a href="{{ path('homeEvent') }}">
                    <img loading="lazy" class="opacity_hover col-12 p-0" src="{{ asset('build/images/design_evenements.jpeg') }}" alt="">
                </a>
            </div>
            <div class="col-12 col-md-3 my-3 ">
                <a href="{{ path('astroConsult') }}">
                    <img loading="lazy" class="opacity_hover col-12 p-0" src="{{ asset('build/images/design_astrologie.jpeg') }}" alt="">
                </a>
            </div>
            <div class="col-12 col-md-3 my-3">
                <a href="{{ path('programOnline', { 'slug': 'cometes' }) }}">
                    <img loading="lazy" class="opacity_hover col-12 p-0" src="{{ asset('build/images/logo_cometes.jpeg') }}" alt="">
                </a>
            </div>
        </div>
    </section>

    {# END VOUS ACCOMPAGNER... #}

    {# THREE NEXT EVENTS #}
    {% if events is not empty %}
        <section class="container-fluid p-0">
            <header class="py-4 background-green text-center col-12">
                <h2 class="m-0">Évènements à venir</h2>
            </header>
            <div class="container py-5">
                <div class="row list justify-content-around flex-wrap text-center align-items-start ">
                    {% for event in events %}
                        <article class="item col-12 col-md-4 d-flex flex-column align-items-center">
                            <a class="d-flex align-items-center text-center" href="{{ path("singleEvent", { 'slug': event.slug })}}">
                                <figure>
                                    <div class="effect"></div>
                                    <img loading="lazy" src="{{ asset('uploads/cover_img/'~event.img.url) }}" alt="{{ event.img.alt }}">
                                </figure>
                            </a>
                            <div class="infos mt-3">
                                <h2 class="d-initial">
                                    <a href="{{ path("singleEvent", { 'slug': event.slug })}}">{{ event.title | raw }}</a>
                                </h2>
                                <p>{% if event.startDate | date('Ymd') != event.endDate | date('Ymd')%}
                                    <strong>Du {{event.startDate | localizeddate('none', 'none', null, null, 'EEEE d MMMM')}} au {{event.endDate | localizeddate('none', 'none', null, null, 'EEEE d MMMM YYYY')}}</strong>
                                    {% else %}
                                        <strong>{{event.startDate | localizeddate('none', 'none', null, null, 'EEEE d MMMM YYYY')}}</strong>
                                {% endif %}

                                </p>
                            </div>
                        </article>
                    {% endfor %}

                </div>
            </div>
        </section>
    {% endif %}
    {# END THREE NEXT EVENTS #}

    {# LAST PRESS #}
    <section class="container-fluid p-0 ">
        <header class="py-4 background-green text-center col-12">
            <h2 class="m-0">Chamade dans la presse</h2>
        </header>
        <div class="container py-5">
            <div class="row list full-height-list justify-content-around flex-wrap align-items-start">
                {% for article in press %}
                    <article class="item col-12 col-sm-6 col-lg-4 mb-3 d-flex flex-column align-items-center">
                        <a class="d-flex align-items-center text-center " href="{{ path('blogArticle', { 'slug': article.slug }) }}">
                            <figure>
                                <div class="effect"></div>
                                <img  src="{{ asset('uploads/cover_img/'~article.img.url) }}" alt="{{ article.img.alt }}">
                            </figure>
                        </a>
                        <div class="infos mt-3">
                            <p>
                                <a href="{{ path('blogCategory', { 'slug': article.category.slug }) }}">{{ article.category.wording }}</a>
                            </p>
                            <h2 class="d-initial"><a href="{{ path('blogArticle', { 'slug': article.slug }) }}">{{article.title}}</a></h2>
                        </div>
                    </article>
                {% endfor %}
            </div>

        </div>
    </section>
    {# END LAST PRESS #}

    {% include 'index/_social.html.twig' %}

{% endblock %}
