{% extends 'admin/base.html.twig' %}

{% block content %}
    <h1>Modifier un utilisateur</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="{{ path('homeAdmin') }}">Tableau de bord</a></li>
        <li class="breadcrumb-item"><a href="{{ path('usersAdmin') }}">Utilisateurs</a></li>
        <li class="breadcrumb-item active">Modifier un utilisateur</li>
    </ol>
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}