{% extends 'admin/base.html.twig' %}

{% block content %}
<h1>Commandes</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="{{ path('homeAdmin') }}">Tableau de bord</a></li>
    <li class="breadcrumb-item active">Commandes</li>
</ol>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Liste des commandes
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Client</th>
                    <th>Produits</th>
                    <th>Montant</th>
                    <th>Infos</th>
                    <th>Statut</th>
                    <th>Identifiant stripe</th>
                    <th>Date de création</th>
                    <th>Date de mise à jour</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Client</th>
                    <th>Produits</th>
                    <th>Montant</th>
                    <th>Infos</th>
                    <th>Statut</th>
                    <th>Identifiant stripe</th>
                    <th>Date de création</th>
                    <th>Date de mise à jour</th>
                    <th>Actions</th>
                </tr>
                </tfoot>
                <tbody>
                {% for purchaseLine in purchases %}
                    {% if 'ROLE_ADMIN' not in  purchaseLine.purchase.user.roles  %}
                        <tr>
                            <td><a href="{{path('updateUserAdmin', {'id' :  purchaseLine.purchase.user.id})}}">{{ purchaseLine.purchase.user.firstName }} {{ purchaseLine.purchase.user.lastName }}</a></td>
                            <td>
                                {% for content in purchaseLine.contents %}
                                    {{ content }} <br/>
                                {% endfor %}
                            </td>
                            <td>{{ purchaseLine.purchase.amount }}</td>
                            <td>{{ purchaseLine.purchase.content }}</td>
                            <td>{{ purchaseLine.purchase.status }}</td>
                            <td><a target="_blank" href={{ "https://dashboard.stripe.com/payments/"~purchaseLine.purchase.stripeId }}>{{ purchaseLine.purchase.stripeId }}</a></td>
                            <td data-sort="{{purchaseLine.purchase.createdAt |date("Y/m/d")}}">{{purchaseLine.purchase.createdAt | localizeddate('none', 'none', null, null, 'd MMMM Y')}}</td>
                            <td data-sort="{{purchaseLine.purchase.updatedAt |date("Y/m/d")}}">{{purchaseLine.purchase.updatedAt | localizeddate('none', 'none', null, null, 'd MMMM Y')}}</td>
                            <td>
                                {% if purchaseLine.purchase.status != "Remboursé" and purchaseLine.purchase.status != "Offert" %}
                                <p data-title="{{ purchaseLine.purchase.user.firstName~" "~purchaseLine.purchase.user.lastName }}" data-id="{{ purchaseLine.purchase.id }}" data-toggle="modal" data-target="#deleteModal" class="text-primary" title="Rembourser"><i class="fas fa-undo-alt"></i></p>
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>

        {{ include('_modal.html.twig', {
            'question': "Voulez-vous rembourser",
            "actionPath": "refundPurchaseAdmin",
            "btnValue": "Rembourser"
        }) }}
    </div>
    {% endblock %}