{% extends 'admin/base.html.twig' %}

{% block content %}
<h1>Catégories</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="{{ path('homeAdmin') }}">Dashboard</a></li>
    <li class="breadcrumb-item active">Catégories</li>
</ol>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Liste des catégories
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Nombre d'utilisation</th>
                    <th>Date de création</th>
                    <th>Date de mise à jour</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Nombre d'utilisation</th>
                    <th>Date de création</th>
                    <th>Date de mise à jour</th>
                    <th>Actions</th>
                </tr>
                </tfoot>
                <tbody>
                {% for category in categories %}
                    <tr>
                        <td>{{ category.wording }}</td>
                        <td>{{ category.content  | truncate(75, true) | raw}}</td>
                        <td>{{ category.articles | length }}</td>
                        <td data-sort="{{category.createdAt |date("Y/m/d")}}">{{category.createdAt | localizeddate('none', 'none', null, null, 'd MMMM Y')}}</td>
                        <td data-sort="{{category.updatedAt |date("Y/m/d")}}">{{category.updatedAt | localizeddate('none', 'none', null, null, 'd MMMM Y')}}</td>
                        <td>
                            {% if category.id != 13 %}
                                <a  onclick="window.open(this.href);return false" href="{{ path('blogCategory', { 'slug': category.slug }) }}" class="text-info mr-2" title="Voir"><i class="far fa-eye"></i></a>
                                <a href="{{ path('updateCategoryAdmin', {'id': category.id}) }}" class="text-primary mr-2" title="Editer"><i class="far fa-edit"></i></a>
                                <p data-title="{{ category.wording }}" data-id="{{ category.id }}" data-toggle="modal" data-target="#deleteModal" class="text-danger" title="Supprimer"><i class="far fa-trash-alt"></i></p>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        {{ include('_modal.html.twig', {
            'question': "Etes-vous sûr de vouloir supprimer la catégorie",
            "actionPath": "deleteCategoryAdmin",
            "btnValue": "Supprimer"
        }) }}
    </div>
    {% endblock %}
