{# FLOATING MENU ON LEFT #}
<nav class="floating-menu d-none d-lg-inline-block">
    <ul class="text-center">
        <li>
            <a href="{{ path('app_account') }}" class="ripple">
                <i class="far fa-user fa-lg"></i>
            </a>
        </li>
        {% if app.user %}
            <li>
                <a href="{{ path('app_logout') }}" class="ripple">
                    <i class="fas fa-sign-out-alt"></i>
                </a>
            </li>
        {% endif %}
        <li>
            <a href="{{ path('shopBasket') }}" class="ripple position-relative icon-basket">
                <i class="fas fa-shopping-bag"></i>
                <span class="text-decoration-none">
         {% if app.session.get('purchaseInfos') == null or app.session.get('purchaseInfos')['totalContent'] == 0 %}
             0
         {% else %}
             {{ app.session.get('purchaseInfos')['totalContent']}}
         {% endif %}
         </span>
            </a>
        </li>
    </ul>
    <div class="menu-bg"></div>
</nav>
{# END FLOATING MENU ON LEFT #}

{# DESKTOP MENU #}
<nav class="d-none d-lg-block main-menu mt-3 py-3 mx-auto desktop">
    <ul class="p-0">
        <li class="position-relative {% if  'about' in app.request.attributes.get('_route') %}current-item{% endif %}">
            <span >A propos</span>
            <ul class="p-0 m-0 position-absolute d-none w-auto">
                <li class="d-block"><a  href="{{ path('aboutStory') }}">Qui suis-je ?</a></li>
                <li class="d-block"><a href="{{ path('aboutTeam') }}">Equipe</a></li>
                <li class="d-block"><a  href="{{ path('aboutPodcasts') }}">Podcasts</a></li>
                <li class="d-block"><a  href="{{ path('aboutPress') }}">Presse</a></li>

            </ul>
        </li>
        <li class="{% if app.request.attributes.get('_route') == 'homeEvent' %}current-item{% endif %}"><a  href="{{ path('homeEvent') }}">Évènements</a></li>

        <li class="{% if app.request.attributes.get('_route') == 'astroConsult' %}current-item{% endif %}"><a  href="{{ path('astroConsult') }}">Lecture de carte du ciel</a></li>
        <li class="position-relative {% if 'programOnline' in app.request.attributes.get('_route') or 'listCertificateCometes' in app.request.attributes.get('_route') %}current-item{% endif %}">
            <span>Comètes</span>
            <ul class="p-0 m-0 position-absolute d-none w-auto">
                <li class="d-block"><a class="{% if app.request.attributes.get('_route') == 'programOnline' %}current-item{% endif %}" href="{{ path('programOnline', { 'slug': 'cometes' }) }}">La formation</a></li>
                <li class="d-block"><a class="{% if app.request.attributes.get('_route') == 'listCertificateCometes' %}current-item{% endif %}" href="{{ path('listCertificateCometes') }}">Les Comètes</a></li>
            </ul>
        </li>
        <li class="{% if app.request.attributes.get('_route') == 'blogIndex' %}current-item{% endif %}"><a  href="{{ path('blogIndex') }}">Journal</a></li>
        <li  class="{% if app.request.attributes.get('_route') == 'indexContact' %}current-item{% endif %}"><a href="{{ path('indexContact') }}">Contact</a></li>
    </ul>
</nav>
{# END DESKTOP MENU #}

{# MOBILE MENU #}
<nav class="navbar w-100 justify-content-center mt-3 d-lg-none  navbar-light position-relative">
    {% set random = random(1000)  %}
    <button class="navbar-toggler mr-3" type="button" data-toggle="collapse" data-target="{{ '#navbarSupportedContent'~random }}" aria-controls="{{ 'navbarSupportedContent'~random }}" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="basket">
        <a href="{{ path('shopBasket') }}" class="ripple position-relative icon-basket">
            <i class="fas fa-shopping-bag"></i>
            <span class="text-decoration-none">
      {% if app.session.get('orderInfos') == null or app.session.get('orderInfos')['totalContent'] == 0 %}
          0
      {% else %}
          {{ app.session.get('orderInfos')['totalContent']}}
      {% endif %}
      </span>
        </a>
    </div>
    <div class="collapse navbar-collapse background-rose w-100" id="{{ 'navbarSupportedContent'~random }}">
        <ul class="navbar-nav mr-auto mt-4 text-dark">
            <li class="align-items-center nav-item mw-100 row flex-wrap d-flex m-0 px-2 ">
                <span class="col-10 nav-link" >
                    A propos
                </span>
                <p class="col-2 dropdown-toggle dropdown-toggle-split"  role="menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                </p>
                <div class="dropdown-menu w-100 text-center background">
                    <a class="dropdown-item {% if app.request.attributes.get('_route') == 'aboutStory' %}current-item{% endif %}" href="{{ path('aboutStory') }}">Qui suis-je ?</a>
                    <a class="dropdown-item {% if app.request.attributes.get('_route') == 'aboutTeam' %}current-item{% endif %}" href="{{ path('aboutTeam') }}">Equipe</a>
                    <a class="dropdown-item {% if app.request.attributes.get('_route') == 'aboutPodcasts' %}current-item{% endif %}" href="{{ path('aboutPodcasts') }}">Podcasts</a>
                    <a class="dropdown-item {% if app.request.attributes.get('_route') == 'aboutPress' %}current-item{% endif %}" href="{{ path('aboutPress') }}">Presse</a>
                </div>
            </li>
            <li class="col-12 px-2 align-items-center nav-item {% if app.request.attributes.get('_route') == 'homeEvent' %}active{% endif %}">
                <a class="nav-link {% if app.request.attributes.get('_route') == 'homeEvent' %}current-item{% endif %}" href="{{ path('homeEvent') }}">Évènements</a>
            </li>
            <li class="col-12 px-2 align-items-center nav-item {% if app.request.attributes.get('_route') == 'astroConsult' %}active{% endif %}">
                <a class="nav-link {% if app.request.attributes.get('_route') == 'astroConsult' %}current-item{% endif %}" href="{{ path('astroConsult') }}">Lecture de carte du ciel</a>
            </li>
            <li class="align-items-center nav-item mw-100 row flex-wrap d-flex m-0 px-2 ">
                <span class="col-10 nav-link" >
                    Comètes
                </span>
                <p class="col-2 dropdown-toggle dropdown-toggle-split"  role="menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                </p>
                <div class="dropdown-menu w-100 text-center">
                    <a class="dropdown-item {% if 'programOnline' in app.request.attributes.get('_route') %}current-item{% endif %}" href="{{ path('programOnline', { 'slug': 'cometes' }) }}">La formation</a>
                    <a class="dropdown-item {% if 'listCertificateCometes' in app.request.attributes.get('_route') %}current-item{% endif %}" href="{{ path('listCertificateCometes') }}">Les Comètes</a>
                </div>
            </li>



            <li class="col-12 px-2 align-items-center nav-item {% if app.request.attributes.get('_route') == 'blogIndex' %}active{% endif %}">
                <a class="nav-link {% if app.request.attributes.get('_route') == 'blogIndex' %}current-item{% endif %}" href="{{ path('blogIndex') }}">Journal</a>
            </li>
            <li class="col-12 px-2 align-items-center nav-item {% if app.request.attributes.get('_route') == 'indexContact' %}active{% endif %}">
                <a class="nav-link {% if app.request.attributes.get('_route') == 'indexContact' %}current-item{% endif %}" href="{{ path('indexContact') }}">Contact</a>
            </li>
            <li aria-hidden="true" class="dropdown-divider"></li>
            <li class="col-12 px-2 text-center align-items-center nav-item {% if app.request.attributes.get('_route') == 'indexContact' %}active{% endif %}">
                <a class="nav-link {% if app.request.attributes.get('_route') == 'app_account' %}current-item{% endif %}" href="{{ path('app_account') }}">
                    <i class="far fa-user fa-lg"></i>
                    Mon compte</a>
            </li>
            {% if app.user %}
                <li class="col-12 px-2 text-center align-items-center nav-item {% if app.request.attributes.get('_route') == 'indexContact' %}active{% endif %}">
                    <a class="nav-link {% if app.request.attributes.get('_route') == 'app_logout' %}current-item{% endif %}" href="{{ path('app_logout') }}">
                        <i class="fas fa-sign-out-alt"></i>
                        Déconnexion</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
{# END MOBILE MENU #}
