{% extends 'admin/base.html.twig' %}

{% block content %}
<h1>Hashtags</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="{{ path('homeAdmin') }}">Dashboard</a></li>
    <li class="breadcrumb-item active">Hashtags</li>
</ol>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Liste des hashtags
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Nombre d'utilisation</th>
                    <th>Date de création</th>
                    <th>Date de mise à jour</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Nom</th>
                    <th>Nombre d'utilisation</th>
                    <th>Date de création</th>
                    <th>Date de mise à jour</th>
                    <th>Actions</th>
                </tr>
                </tfoot>
                <tbody>
                {% for keyword in keywords %}
                    <tr>
                        <td>{{ keyword.keyword }} </td>
                        <td>{{ keyword.articles | length }}</td>
                        <td>{{keyword.createdAt | localizeddate('none', 'none', null, null, 'd MMMM Y')}}</td>
                        <td>{{keyword.updatedAt | localizeddate('none', 'none', null, null, 'd MMMM Y')}}</td>
                        <td>
                            <a  onclick="window.open(this.href);return false" href="{{ path('blogTag', { 'slug': keyword.slug }) }}" class="text-info mr-2" title="Voir"><i class="far fa-eye"></i></a>
                            <a href="{{ path('updateKeywordAdmin', {'id':keyword.id}) }}" class="text-primary mr-2" title="Editer"><i class="far fa-edit"></i></a>
                            <p data-title="{{ keyword.keyword }}" data-id="{{ keyword.id }}" data-toggle="modal" data-target="#deleteModal" class="text-danger" title="Supprimer"><i class="far fa-trash-alt"></i></p>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Etes-vous sûr de vouloir supprimer le hashtag "<span class="titleValue"></span>" ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        <form action="{{ path('deleteKeywordAdmin') }}" method="post">
                            <input type="hidden" class="idValue" name="id" value="">
                            <input type="submit" class="btn btn-primary" value="Supprimer"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
