{% extends 'admin/base.html.twig' %}

{% block content %}
<h1>Hashtags</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="{{ path('homeAdmin') }}">Tableau de bord</a></li>
    <li class="breadcrumb-item active">Hashtags</li>
</ol>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Liste des hashtags
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Nombre d'utilisation</th>
                    <th>Date de création</th>
                    <th>Date de mise à jour</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Nom</th>
                    <th>Nombre d'utilisation</th>
                    <th>Date de création</th>
                    <th>Date de mise à jour</th>
                    <th>Actions</th>
                </tr>
                </tfoot>
                <tbody>
                {% for keyword in keywords %}
                    <tr>
                        <td>{{ keyword.keyword }} </td>
                        <td>{{ keyword.articles | length }}</td>
                        <td data-sort="{{keyword.createdAt |date("Y/m/d")}}">{{keyword.createdAt | localizeddate('none', 'none', null, null, 'd MMMM Y')}}</td>
                        <td data-sort="{{keyword.updatedAt |date("Y/m/d")}}">{{keyword.updatedAt | localizeddate('none', 'none', null, null, 'd MMMM Y')}}</td>
                        <td>
                            <a  onclick="window.open(this.href);return false" href="{{ path('blogTag', { 'slug': keyword.slug }) }}" class="text-info mr-2" title="Voir"><i class="far fa-eye"></i></a>
                            <a href="{{ path('updateKeywordAdmin', {'id':keyword.id}) }}" class="text-primary mr-2" title="Editer"><i class="far fa-edit"></i></a>
                            <p data-title="{{ keyword.keyword }}" data-id="{{ keyword.id }}" data-toggle="modal" data-target="#deleteModal" class="text-danger" title="Supprimer"><i class="far fa-trash-alt"></i></p>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        {{ include('_modal.html.twig', {
            'question': "Etes-vous sûr de vouloir supprimer le hashtag",
            "actionPath": "deleteKeywordAdmin",
            "btnValue": "Supprimer"
        }) }}
    </div>
    {% endblock %}