{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
{{ form_errors(form) }}
{{ form_row(form.title) }}
{{ form_row(form.subTitle) }}
{{ form_row(form.content) }}
{% include 'admin/_modal_img.html.twig' %}
{{ form_row(form.type) }}
{{ form_row(form.onlineEvent) }}
{{ form_row(form.address) }}
{{ form_row(form.startDate) }}
{{ form_row(form.endDate) }}
{{ form_row(form.landingPageUrl) }}
{{ form_row(form.price) }}
{{ form_row(form.eventPricings) }}
<a href="#" id="add_collection" class="btn btn-success">Ajouter un tarif</a>
{{ form_row(form.nbMinParticipant) }}
{{ form_row(form.nbMaxParticipant) }}
{{ form_row(form.allowFriend) }}
{{ form_row(form.allowAlready) }}
{{ form_row(form.isOnline) }}
{{ form_end(form) }}