{% extends 'admin/base.html.twig' %}

{% block content %}
<h1>Évènements</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="{{ path('homeAdmin') }}">Tableau de bord</a></li>
    <li class="breadcrumb-item active">Évènements</li>
</ol>
<div class="d-flex mb-3">
    <button onclick="location.href='{{path('createEventAdmin')}}';" class="btn btn-primary ml-auto">Créer un nouvel évènement</button>
</div>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Liste des évènements
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Type</th>
                    <th>Titre</th>
                    <th>Image</th>
                    <th>Date de création</th>
                    <th>Date de mise à jour</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Type</th>
                    <th>Titre</th>
                    <th>Image</th>
                    <th>Date de création</th>
                    <th>Date de mise à jour</th>
                    <th>Actions</th>
                </tr>
                </tfoot>
                <tbody>
                {% for article in articles %}
                <tr>
                    <td>{{  article.type.slug|trans }}</td>
                    <td>{{ article.title }}</td>
                    <td>
                        {% if article.img %}
                            <img style="max-width:150px" src="{{ asset('uploads/cover_img/'~article.img.url) }}"/>
                        {% endif %}
                    </td>
                    <td data-sort="{{article.createdAt |date("Y/m/d")}}">{{article.createdAt | localizeddate('none', 'none', null, null, 'd MMMM Y')}}</td>
                    <td data-sort="{{article.updatedAt |date("Y/m/d")}}">{{article.updatedAt | localizeddate('none', 'none', null, null, 'd MMMM Y')}}</td>
                    <td>
                        <a  onclick="window.open(this.href);return false" href="{{ path(article.type.slug~'Event', { 'slug': article.slug }) }}" class="text-info mr-2" title="Voir"><i class="far fa-eye"></i></a>
                        <a href="{{ path('updateEventAdmin', {'id':article.id}) }}" class="text-primary mr-2" title="Editer"><i class="far fa-edit"></i></a>
                        {% if article.userEvents is empty  %}
                            <p data-title="{{ article.title }}" data-id="{{ article.id }}" data-toggle="modal" data-target="#deleteModal" class="text-danger" title="Supprimer"><i class="far fa-trash-alt"></i></p>
                        {% else %}
                            <p data-title="{{ article.title }}" data-id="{{ article.id }}" data-toggle="modal" data-target="#cancelModal" class="text-danger" title="Annuler"><i class="fas fa-times"></i></p>
                        {% endif %}
                        <a href="{{ path('eventsListAdmin', {'slug':article.slug}) }}" class="text-primary mr-2" title="Liste des inscrites"><i class="fas fa-clipboard-list"></i></a>
                        <a href="{{ path('offerEventAdmin', {'id': article.id}) }}" class="text-success mr-2" title="Offrir"><i class="fas fa-gift"></i></a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {{ include('_modal.html.twig', {
            'question': "Etes-vous sûr de vouloir supprimer l'évènement",
            "actionPath": "deleteEventAdmin",
            "btnValue": "Supprimer"
        }) }}

        {{ include('_modal.html.twig', {
            'question': "Etes-vous sûr de vouloir annuler (tous les participants seront remboursés et avertis) l'évènement",
            "actionPath": "cancelEventAdmin",
            "btnValue": "Annuler",
            'idModal': "cancelModal"
        }) }}
    </div>
{% endblock %}