{% extends 'admin/base.html.twig' %}

{% block content %}
<h1>{{ articles.title }}</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="{{ path('homeAdmin') }}">Tableau de bord</a></li>
    <li class="breadcrumb-item active"><a href="{{ path('eventsAdmin') }}">Évènements</a></li>
    <li class="breadcrumb-item active">{{ articles.title }}</li>
</ol>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        {{ articles.title }}
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>E-mail</th>
                    <th>Date d'inscription</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>E-mail</th>
                    <th>Date d'inscription</th>
                </tr>
                </tfoot>
                <tbody>
                {% for article in articles.userEvents %}
                    {% if 'ROLE_ADMIN' not in article.user.roles  %}
                        <tr>
                            <td>{{ article.user.lastName }}</td>
                            <td>{{ article.user.firstName }}</td>
                            <td><a href="mailto:{{ article.user.email }}">{{ article.user.email }}</a></td>
                            <td>{{article.purchase.createdAt | localizeddate('none', 'none', null, null, 'd MMMM Y')}}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}