{% extends 'admin/base.html.twig' %}

{% block content %}
<h1>Évènements</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="{{ path('homeAdmin') }}">Dashboard</a></li>
    <li class="breadcrumb-item active">Évènements</li>
</ol>
<div class="d-flex mb-3">
    <button onclick="location.href='{{path('createEventAdmin')}}';" class="btn btn-primary ml-auto">Créer un nouvel évènement</button>
</div>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Liste des évènements
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Titre</th>
                    <th>Type</th>
                    <th>Image</th>
                    <th>Date de création</th>
                    <th>Date de mise à jour</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>Titre</th>
                    <th>Type</th>
                    <th>Image</th>
                    <th>Date de création</th>
                    <th>Date de mise à jour</th>
                    <th>Actions</th>
                </tr>
                </tfoot>
                <tbody>
                {% for article in articles %}
                <tr>
                    <td>{{ article.title }}</td>
                    <td>{{ article.type.slug }}</td>
                    <td>
                        {% if article.img %}
                            <img style="max-width:150px" src="{{ asset('uploads/cover_img/'~article.img.url) }}"/>
                        {% endif %}
                    </td>
                    <td data-sort="{{article.createdAt |date("Y/m/d")}}">{{article.createdAt | localizeddate('none', 'none', null, null, 'd MMMM Y')}}</td>
                    <td data-sort="{{article.updatedAt |date("Y/m/d")}}">{{article.updatedAt | localizeddate('none', 'none', null, null, 'd MMMM Y')}}</td>
                    <td>
                        <a  onclick="window.open(this.href);return false" href="{{ path(article.type.slug~'Event', { 'slug': article.slug }) }}" class="text-info mr-2" title="Voir"><i class="far fa-eye"></i></a>
                        <a href="{{ path('updateEventAdmin', {'id':article.id}) }}" class="text-primary mr-2" title="Editer"><i class="far fa-edit"></i></a>
                        <p data-title="{{ article.title }}" data-id="{{ article.id }}" data-toggle="modal" data-target="#deleteModal" class="text-danger" title="Supprimer"><i class="far fa-trash-alt"></i></p>
                        <a href="{{ path('eventsListAdmin', {'slug':article.slug}) }}" class="text-primary mr-2" title="Liste des inscrites"><i class="fas fa-clipboard-list"></i></a>
                        <a href="" class="text-success mr-2" title="Editer"><i class="fas fa-gift"></i></a>

                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Etes-vous sûr de vouloir supprimer l'évènement "<span class="titleValue"></span>" ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        <form action="{{ path('deleteEventAdmin') }}" method="post">
                            <input type="hidden" class="idValue" name="id" value="">
                            <input type="submit" class="btn btn-primary" value="Supprimer"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}