{% extends 'base.html.twig' %}


{% block title %}Évènements | {{ parent() }}{% endblock %}
{% block metaDescription %}CHAMADE offre plusieurs formats d'évènements à vivre comme des expériences uniques et qui sont autant de portes vers votre développement personnel et spirituel.{% endblock %}
{% block ogImage %}{{ app.request.getSchemeAndHttpHost ~ asset('build/images/design_evenements.jpeg') }}{% endblock %}

{% block Titre %}Évènements{% endblock %}

{% block content %}
<div class="container mt-5">
    <section class="row align-items-center text-justify">
        <div class="col-12">
            <p class="text-center">J’ai à coeur de vous proposer régulièrement des évènements transformateurs conçus comme des espaces de soin, de connaissance et d’éveil à soi. </p>
        </div>
    </section>
    <div class="row list full-height-list justify-content-around flex-wrap align-items-start">
        {% for event in events %}
            <article class="item col-12 col-sm-6 col-lg-4 mb-3 d-flex flex-column align-items-center">
                <a class="d-flex align-items-center text-center" href="{{ path('singleEvent', { 'slug': event.slug }) }}">
                    <figure>
                        <div class="effect"></div>
                        <img src="{{ asset('uploads/cover_img/'~event.img.url) }}" alt="{{ event.img.alt }}">
                    </figure>
                </a>
                <div class="infos mt-3">
                    <p>
                        {% for type in event.type %}
                            {{ type.wording }}{% if loop.index < event.type|length %} | {% endif %}
                        {% endfor %}
                    </p>
                    <h2 class="d-initial"><a href="{{ path('singleEvent', { 'slug': event.slug }) }}">{{event.title}}</a></h2>
                </div>
            </article>
        {% endfor %}
    </div>

</div>
    {% if opinions.getOpinions('event') %}
        {% include 'events/_opinions.html.twig' with {'type': 'event'} %}
    {% endif %}

{% endblock %}
