{% extends 'base.html.twig' %}


{% block title %}Évènements | {{ parent() }}{% endblock %}
{% block metaDescription %}CHAMADE offre plusieurs formats d'évènements à vivre comme des expériences uniques et qui sont autant de portes vers votre développement personnel et spirituel.{% endblock %}
{% block ogImage %}{{ app.request.getSchemeAndHttpHost ~ asset('build/images/design_evenements.jpeg') }}{% endblock %}

{% block Titre %}Évènements{% endblock %}

{% block content %}
<div class="container mt-5">
        <section class="row align-items-center text-justify">
                <h2 class="col-12 text-center mb-3">Créer des espaces de retour à soi. S’ouvrir. Se rencontrer. Partager.</h2>
                <div class="col-12">
                    <p>CHAMADE offre plusieurs formats d&#39;évènements à vivre comme des expériences uniques et
                        qui sont autant de portes vers votre croissance personnelle.</p>
                    <p>Il peut s&#39;agir aussi bien d&#39;un atelier destiné à vous donner les outils d&#39;un développement
                        personnel doux, avec des savoirs à ramener à la maison, que d&#39;un Cercle de lune pour
                        expérimenter la puissance de la sororité ou encore d&#39;une expérience pleinement
                        transformatrice telle une retraite de plusieurs jours.</p>
                    <p>Toutes ces expériences ont un même but : vous offrir une bulle hors du temps, créer de
                        l&#39;espace en vous, pour vous laisser émerger. Connaître, reconnaître et faire grandir la version
                        la plus authentique de vous-même.</p>
                </div>
        </section>
</div>
<div class="container-fluid pt-3 pb-5">
    <div class="container">
        <div class="row justify-content-around flex-wrap">
                <div class="mb-4 mb-sm-0 col-12 col-sm-4">
                    <a class="text-center" href="{{ path('retreatsEvent') }}">
                        <figure class="object-fit-cover m-0">
                            <img class="mw-200 w-100 h-100" src="{{ asset('build/images/design_retraites.jpeg') }}" alt="">
                        </figure>
                    </a>
                </div>
                <div class="mb-4 mb-sm-0 col-12 col-sm-4">
                    <a class="text-center" href="{{ path('ritualsEvent') }}">
                        <figure class="object-fit-cover m-0">
                            <img class="mw-200 w-100 h-100" src="{{ asset('build/images/design_rituels.jpeg') }}" alt="">
                        </figure>
                    </a>
                </div>
                <div class="mb-4 mb-sm-0 col-12 col-sm-4">
                    <a class="text-center" href="{{ path('workshopsEvent') }}">
                        <figure class="object-fit-cover m-0">
                            <img class="mw-200 w-100 h-100" src="{{ asset('build/images/design_ateliers.jpeg') }}" alt="">
                        </figure>
                    </a>
                </div>
        </div>
    </div>
</div>
    {% include 'events/_opinions.html.twig' %}

{% endblock %}