{% extends 'base.html.twig' %}

{% block title %}Ateliers | {{ parent() }}{% endblock %}
{% block metaDescription %}Chamade souhaite rendre accessible au plus grand nombre les connaissances relatives aux divers champs du développement personnel & spirituel
    via divers ateliers sur des thématiques destinées à vous accompagner{% endblock %}
{% block ogImage %}{{ app.request.getSchemeAndHttpHost ~ asset('build/images/design_ateliers.jpeg') | replace({'/build':'build'}) }}{% endblock %}

{% block Titre %}Ateliers{% endblock %}

{% block content %}
    <div class="container text-justify my-5">
        <section class="row mt-4 mb-3  text-center" >
            <h2 class="col-12 text-center">LES ATELIERS DE CHAMADE</h2>
        </section>
        <section class="row mt-5 mb-3 align-items-center">
            <figure class="mb-3 offset-1 col-10 offset-md-3 offset-lg-0 col-md-6 col-xl-3 col-lg-5 text-center">
                <img class="mw-200 w-100" src="{{  asset('build/images/cercle.jpeg') }}" alt="Demi-cercle de fleurs">
            </figure>
            <div class="col-xl-9 col-lg-7">
                <p>Je souhaite rendre accessible au plus grand nombre les connaissances relatives aux divers champs du développement personnel & spirituel et des médecines holistiques.
                    C'est ainsi que je propose, au besoin avec la participation de professionnels expérimentés, divers ateliers sur des thématiques destinées à vous accompagner.
                    Ces ateliers, d'une durée d'une heure et demi, auront lieu en ligne, via ZOOM.
                    Ils seront enregistrés, ce qui signifie que vous y aurez ensuite accès pendant encore un mois.
                    Cela vous permet aussi, si vous n'êtes pas disponible à la date du Live, de pouvoir le regarder plus tard à votre convenance.</p>
                {% if workshops %}
                    <h4 class="mt-4"><strong>Calendrier 2020 des Ateliers de Chamade :</strong></h4>
                    <ul>
                        {% for workshop in workshops %}
                            <li>
                                {{ workshop.title }} du {{workshop.startDate | localizeddate('none', 'none', null, null, 'EEEE d MMMM YYYY')}}<br/>
                                <a href="{{ path('circleEvent', { 'slug': workshop.slug }) }}">En savoir plus</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

        </section>
        <section class="row my-5 box_infos background-green text-center p-3 mx-2 mx-sm-0">
            <div class="col-md-4">
                <h4><strong>Lieu</strong></h4>
                <address>En ligne, via Zoom</address>
            </div>
            <div class="col-md-4">
                <h3><strong>Tarif</strong></h3>
                <p>12 euros par atelier et par personne.</p>
            </div>
            <div class="col-md-4">
                <h3><strong>Horaires</strong></h3>
                <p>De 20h à 21h30.</p>
            </div>
            <div class="col-12 mt-2">
                <h4><strong>Inscriptions</strong></h4>
                <p>Vous pouvez vous inscrire en cliquant sur le lien "En savoir plus" à coté de de chaque atelier.</p>
            </div>
        </section>
    </div>

{% endblock %}
