{% extends 'base.html.twig' %}

{% block title %}Initiations | {{ parent() }}{% endblock %}
{% block metaDescription %}Chamade propose des initiations à l'astrologie{% endblock %}
{% block ogImage %}{{ app.request.getSchemeAndHttpHost ~ asset('build/images/design_astrologie.jpeg') }}{% endblock %}

{% block Titre %}Initiations{% endblock %}
{% block content %}
        <div class="container ritual text-justify  mb-5">
            <section class="row mt-4 align-items-center mb-3" >
                <figure class="mb-3 offset-1 col-10 offset-md-3 offset-lg-0 col-md-6 col-xl-4 col-lg-5 text-center">
                    <img class="mw-200 w-100" src="{{  asset('build/images/INITIATIONS.jpg') }}" alt="Petites bougies dans pot en verre">
                </figure>
                <div class="col-xl-8 col-lg-7">
                    <p>L’astrologie holistique est une voie d’harmonisation profonde, qui permet à la fois de comprendre les énergies qui nous composent, mais aussi de lire les forces qui président à nos incarnations.</p>
                    <p>J’ai bien conscience que tout le monde n’a pas la possibilité ni le souhait de dévouer 4 mois de sa vie à une formation complète et exigeante d’astrologie comme l’implique ma formation Comètes.</p>
                    <p>C’est pourquoi j’ai choisi de vous proposer des formules d’initiations, dans lesquelles nous viendrons explorer des points topiques du thème astral.</p>
                    <p>Notez qu’il est nécessaire, avant de suivre l’une de ces initiations, d’avoir suivi <a href="{{ path('initiationOnline', { 'slug': "atelier-dintroduction-generale" }) }}">l’atelier d’introduction générale</a>.</p>
                </div>
                <div class="col-12">
                    <h3>Les prochaines initiations :</h3>
                    <ul>
                        {% for initiation in initiations %}
                            <li>
                                {{ initiation.startDate | localizeddate('none', 'none', null, null, 'EEEE d MMMM YYYY') | capitalize}} à {{ initiation.startDate | localizeddate('none', 'none', null, null, 'HH') | capitalize}}h{{ initiation.startDate | localizeddate('none', 'none', null, null, 'mm') | capitalize}}<br/>
                                <a href="{{ path('initiationsEvent', { 'slug': initiation.slug }) }}">En savoir plus</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

            </section>

        </div>
{% endblock %}